@model WebApplication2.ViewModels.RandomMovieViewModels
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ 
    var className = Model.Customers.Count > 5 ? "popular" : "null";
}


<h2 class="@className">@Model.Movie.Name</h2>

@if (Model.Customers.Count == 0)
{
    <text>No customer</text>
}
else
{
    <table>
        <thead>
            <tr>Movie</tr>
            <tr>Genre</tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @foreach (var cust in Model.Customers)
                    {
                        <p>@cust.Name</p>
                    }
                </td>
            </tr>
        </tbody>
    </table>
    
}

